In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

# How Much is Your Car Worth?

Data about the retail price of 2005 General Motors cars can be found in `car_data.csv`.

The columns are:

1. Price: suggested retail price of the used 2005 GM car in excellent condition.
2. Mileage: number of miles the car has been driven
3. Make: manufacturer of the car such as Saturn, Pontiac, and Chevrolet
4. Model: specific models for each car manufacturer such as Ion, Vibe, Cavalier
5. Trim (of car): specific type of car model such as SE Sedan 4D, Quad Coupe 2D          
6. Type: body type such as sedan, coupe, etc.      
7. Cylinder: number of cylinders in the engine        
8. Liter: a more specific measure of engine size     
9. Doors: number of doors           
10. Cruise: indicator variable representing whether the car has cruise control (1 = cruise)
11. Sound: indicator variable representing whether the car has upgraded speakers (1 = upgraded)
12. Leather: indicator variable representing whether the car has leather seats (1 = leather)

## Tasks, Part 1

1. Find the linear regression equation for mileage vs price.
2. Chart the original data and the equation on the chart.
3. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)

## Tasks, Part 2

1. Use mileage, cylinders, liters, doors, cruise, sound, and leather to find the linear regression equation.
2. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)
3. Find the combination of the factors that is the best predictor for price.

## Tasks, Hard Mode

1. Research dummy variables in scikit-learn to see how to use the make, model, and body type.
2. Find the best combination of factors to predict price.

In [53]:
car_data = pd.read_csv("car_data.csv")

In [54]:
car_data

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
5,15709.052821,22236,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
6,15230.003390,22576,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
7,15048.042184,22964,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
8,14862.093870,24021,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1
9,15295.018267,27325,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
10,21335.852485,10237,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,0,0
11,20538.087510,15066,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
12,20512.094091,16633,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
13,19924.159052,19800,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
14,19774.249066,23359,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
15,19344.165537,23765,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
16,19105.130124,24008,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,0,0
17,18543.427045,26034,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
18,17808.198996,32896,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,0
19,17968.838278,34665,Buick,Lacrosse,CX Sedan 4D,Sedan,6,3.6,4,1,1,1
20,22358.877678,8970,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,0
21,23785.922526,10577,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
22,22926.090371,14363,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
23,21895.758784,16508,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,1
24,21273.061714,18908,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
25,21460.013953,19467,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,1
26,21183.123587,21394,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
27,20406.099503,22596,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
28,21058.139580,24469,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,1,1
29,19556.899320,25245,Buick,Lacrosse,CXL Sedan 4D,Sedan,6,3.6,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
774,14568.002255,18511,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
775,13122.905457,19101,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
776,13494.288783,19500,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,0,1
777,12036.216751,19853,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
778,12162.140047,21770,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
779,12333.603993,21877,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
780,12099.014578,22758,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,1,0
781,12119.089702,22826,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,1
782,11679.923546,23388,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
783,13216.912048,24069,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
784,12412.521107,24664,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
785,12284.288290,24740,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,1,0
786,12594.183013,26328,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,1
787,12105.981336,28298,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,0
788,11873.533995,28398,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
789,12965.223269,29707,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
790,10563.066162,32458,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
791,11413.530403,32619,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,1,0,1
792,11504.824550,33962,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,0,0
793,11521.525888,34998,Saturn,Ion,Sedan 4D,Sedan,4,2.2,4,0,1,1
794,18173.978084,5826,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,1
795,18490.983029,7755,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,1
796,17322.078404,10102,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,1
797,17978.356998,10986,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
798,16425.174796,14242,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
799,16507.070267,16229,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0
800,16175.957604,19095,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
801,15731.132897,20484,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
802,15118.893228,25979,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,1,0
803,13585.636802,35662,Saturn,L Series,L300 Sedan 4D,Sedan,6,3.0,4,1,0,0

In [55]:
indicators = car_data[['Price', 'Mileage']]

In [56]:
indicators[['Price','Mileage']].dropna(thresh=2).head()

          Price  Mileage
0  17314.103129     8221
1  17542.036083     9135
2  16218.847862    13196
3  16336.913140    16342
4  16339.170324    19832

In [ ]:
plt.scatter(indicators['Price'], 
            indicators['Mileage'])
plt.show()

In [61]:
df = indicators.loc[:, ['Mileage', 'Price']]

df.dropna(inplace=True)
mileage_data = df[['Mileage']]
price_data = df['Price']

In [62]:
regr1 = linear_model.LinearRegression()
regr1.fit(mileage_data, price_data)
print('Coefficients: ', regr1.coef_)
print(regr1.score(mileage_data, price_data))

Coefficients:  [-0.1725205]
0.0204634473235

A negative correlation coefficient means that, for any two variables X and Y, an increase in X is associated with a decrease in Y. A negative correlation demonstrates a connection between two variables in the same way a positive correlation coefficient does, and the relative strengths are the same. -Lance explained this to me. I had to give him credit for it.

In [ ]:
plt.scatter(mileage_data, price_data , color='red')
plt.plot(mileage_data, regr1.predict(price_data), color='blue', linewidth=3)
plt.show()

Based on the r**2 coeffiecient and the score, linear regression is not a good fit for this data. There is barely a correlation between mileage and price

In [ ]:
regr1.predict(10000)[0]

In [76]:

df = indicators.loc[:, ['Mileage', 
                        'Cylinder',
                        'Liter',
                        'Doors', 
                        'Cruise', 
                        'Sound',
                        'Leather',
                        'Price']]

df.dropna(inplace=True)
input_data = df[['Mileage', 
                 'Cylinder',
                 'Liter',
                 'Doors',
                 'Cruise',
                 'Sound',
                 'Leather']]
output_data = df['Price']

In [77]:
regr2 = linear_model.LinearRegression()
regr2.fit(input_data, output_data)
print('Coefficients: ', regr2.coef_)
print(regr2.score(input_data, output_data))

ValueError: Found array with 0 sample(s) (shape=(0, 7)) while a minimum of 1 is required.