In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model

## Ground Cricket Chirps

In _The Song of Insects_ (1948) by George W. Pierce, Pierce mechanically measured the frequency (the number of wing vibrations per second) of chirps (or pulses of sound) made by a striped ground cricket, at various ground temperatures.  Since crickets are ectotherms (cold-blooded), the rate of their physiological processes and their overall metabolism are influenced by temperature.  Consequently, there is reason to believe that temperature would have a profound effect on aspects of their behavior, such as chirp frequency.

In general, it was found that crickets did not sing at temperatures colder than 60ยบ F. or warmer than 100ยบ F.

In [60]:
ground_cricket_data = {"Chirps/Second": [20.0, 16.0, 19.8, 18.4, 17.1, 15.5, 14.7,
                                         15.7, 15.4, 16.3, 15.0, 17.2, 16.0, 17.0,
                                         14.4],
                       "Ground Temperature": [88.6, 71.6, 93.3, 84.3, 80.6, 75.2, 69.7,
                                              71.6, 69.4, 83.3, 79.6, 82.6, 80.6, 83.5,
                                              76.3]}
df = pd.DataFrame(ground_cricket_data)
df

    Chirps/Second  Ground Temperature
0            20.0                88.6
1            16.0                71.6
2            19.8                93.3
3            18.4                84.3
4            17.1                80.6
5            15.5                75.2
6            14.7                69.7
7            15.7                71.6
8            15.4                69.4
9            16.3                83.3
10           15.0                79.6
11           17.2                82.6
12           16.0                80.6
13           17.0                83.5
14           14.4                76.3

In [61]:
plt.scatter(df['Chirps/Second'], df['Ground Temperature'])
plt.show()

### Tasks

1. Find the linear regression equation for this data.
2. Chart the original data and the equation on the chart.
3. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)
4. Extrapolate data:  If the ground temperature reached 95, then at what approximate rate would you expect the crickets to be chirping?
5. Interpolate data:  With a listening device, you discovered that on a particular morning the crickets were chirping at a rate of 18 chirps per second.  What was the approximate ground temperature that morning?

In [62]:
chirps_df = df.loc[:, ['Chirps/Second','Ground Temperature']]
input_data = df[['Chirps/Second']]
output_data = df['Ground Temperature']

In [63]:
regr1 = linear_model.LinearRegression()
regr1.fit(input_data, output_data)
print('Coefficients: ', regr1.coef_)
print(regr1.score(input_data, output_data))

Coefficients:  [ 3.410323]
0.692294652915

A r**2 value of approximately .69 shows a positive moderate correlation between Chirps per second and Ground Temperature. This is not the most ideal equation for this data but it does show a positive correlation between the two.

In [64]:
plt.scatter(input_data, output_data, color='black')
plt.plot(input_data, regr1.predict(input_data), color='red', linewidth=3)
plt.show()

This is for extrapolation.

In [65]:
chirps2_df = df.loc[:, ['Chirps/Second','Ground Temperature']]
input2_data = df[['Ground Temperature']]
output2_data = df['Chirps/Second']
regr2 = linear_model.LinearRegression()
regr2.fit(input2_data, output2_data)
print('Coefficients: ', regr2.coef_)
print(regr2.score(input2_data, output2_data))

Coefficients:  [ 0.20299973]
0.692294652915

###Extrapolate data:
If the ground temperature reaches 95 degrees, then the approximate rate at which crickets chirp per second is 19.

In [66]:
regr2.predict(95)[0]

19.744289128968745

###Interpolate data:
The approximate ground temperature for a cricket that chirps 18 times per second would be 84 degrees.

In [67]:
regr1.predict(18)[0]

84.234796299302047

## Brain vs. Body Weight

In the file `brain_body.txt`, the average brain and body weight for a number of mammal species are recorded. Load this data into a Pandas data frame.

### Tasks

1. Find the linear regression equation for this data for brain weight to body weight.
2. Chart the original data and the equation on the chart.
3. Find the equation's $R^2$ score (use the `.score` method) to determine whether the
equation is a good fit for this data. (0.8 and greater is considered a strong correlation.)

In [68]:
brain_body = pd.read_fwf("brain_body.txt")
brain_body

       Brain     Body
0      3.385    44.50
1      0.480    15.50
2      1.350     8.10
3    465.000   423.00
4     36.330   119.50
5     27.660   115.00
6     14.830    98.20
7      1.040     5.50
8      4.190    58.00
9      0.425     6.40
10     0.101     4.00
11     0.920     5.70
12     1.000     6.60
13     0.005     0.14
14     0.060     1.00
15     3.500    10.80
16     2.000    12.30
17     1.700     6.30
18  2547.000  4603.00
19     0.023     0.30
20   187.100   419.00
21   521.000   655.00
22     0.785     3.50
23    10.000   115.00
24     3.300    25.60
25     0.200     5.00
26     1.410    17.50
27   529.000   680.00
28   207.000   406.00
29    85.000   325.00
..       ...      ...
32  6654.000  5712.00
33     3.500     3.90
34     6.800   179.00
35    35.000    56.00
36     4.050    17.00
37     0.120     1.00
38     0.023     0.40
39     0.010     0.25
40     1.400    12.50
41   250.000   490.00
42     2.500    12.10
43    55.500   175.00
44   100.000   157.00
45    52.160   440.00
46    10.550   179.50
47     0.550     2.40
48    60.000    81.00
49     3.600    21.00
50     4.288    39.20
51     0.280     1.90
52     0.075     1.20
53     0.122     3.00
54     0.048     0.33
55   192.000   180.00
56     3.000    25.00
57   160.000   169.00
58     0.900     2.60
59     1.620    11.40
60     0.104     2.50
61     4.235    50.40

[62 rows x 2 columns]

In [69]:
plt.scatter(brain_body['Brain'], brain_body['Body'])
plt.show()

In [70]:
brain_body = brain_body.loc[:, ['Brain','Body']]
input3_data = brain_body[['Brain']]
output3_data = brain_body[['Body']]

regr3 = linear_model.LinearRegression()
regr3.fit(input1_data, output3_data)
print('Coefficients: ', regr3.coef_)
print(regr3.score(input3_data, output3_data))

Coefficients:  [[ 0.96649637]]
0.872662084304

This equation is a good fit for this data. There is a strong positive correlation between brain weight and body weight. As brain weight increases, body weight increases as well. The r**2 value is .87.

In [71]:
plt.scatter(input1_data, output1_data, color='black')
plt.plot(input1_data, regr1.predict(input1_data), color='red', linewidth=3)
plt.show()

## Salary Discrimination

The file `salary.txt` contains data for 52 tenure-track professors at a small Midwestern college. This data was used in legal proceedings in the 1980s about discrimination against women in salary.

The data in the file, by column:

1. Sex. 1 for female, 0 for male.
2. Rank. 1 for assistant professor, 2 for associate professor, 3 for full professor.
3. Year. Number of years in current rank.
4. Degree. Highest degree. 1 for doctorate, 0 for master's.
5. YSdeg. Years since highest degree was earned.
6. Salary. Salary/year in dollars.

### Tasks

1. Find the linear regression equation for this data using columns 1-5 to column 6.
2. Find the selection of columns with the best $R^2$ score.
3. Report whether sex is a factor in salary.

In [73]:
salary = pd.read_fwf("salary.txt", header=None, 
                 names=["Sex", "Rank", "Year", "Degree", "YSdeg", "Salary"])

In [74]:
salary

    Sex  Rank  Year  Degree  YSdeg  Salary
0     0     3    25       1     35   36350
1     0     3    13       1     22   35350
2     0     3    10       1     23   28200
3     1     3     7       1     27   26775
4     0     3    19       0     30   33696
5     0     3    16       1     21   28516
6     1     3     0       0     32   24900
7     0     3    16       1     18   31909
8     0     3    13       0     30   31850
9     0     3    13       0     31   32850
10    0     3    12       1     22   27025
11    0     2    15       1     19   24750
12    0     3     9       1     17   28200
13    0     2     9       0     27   23712
14    0     3     9       1     24   25748
15    0     3     7       1     15   29342
16    0     3    13       1     20   31114
17    0     2    11       0     14   24742
18    0     2    10       0     15   22906
19    0     3     6       0     21   24450
20    0     1    16       0     23   19175
21    0     2     8       0     31   20525
22    0     3     7       1     13   27959
23    1     3     8       1     24   38045
24    0     2     9       1     12   24832
25    0     3     5       1     18   25400
26    0     2    11       1     14   24800
27    1     3     5       1     16   25500
28    0     2     3       0      7   26182
29    0     2     3       0     17   23725
30    1     1    10       0     15   21600
31    0     2    11       0     31   23300
32    0     1     9       0     14   23713
33    1     2     4       0     33   20690
34    1     2     6       0     29   22450
35    0     2     1       1      9   20850
36    1     1     8       1     14   18304
37    0     1     4       1      4   17095
38    0     1     4       1      5   16700
39    0     1     4       1      4   17600
40    0     1     3       1      4   18075
41    0     1     3       0     11   18000
42    0     2     0       1      7   20999
43    1     1     3       1      3   17250
44    0     1     2       1      3   16500
45    0     1     2       1      1   16094
46    1     1     2       1      6   16150
47    1     1     2       1      2   15350
48    0     1     1       1      1   16244
49    1     1     1       1      1   16686
50    1     1     1       1      1   15000
51    1     1     0       1      2   20300